/* les plus petits écrans */
@media (min-width: 0px )and (max-width: 350px) {
      
    .box-servicehome {
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #eee;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.453);
        border: 1px solid #ccc;
        overflow: hidden;
        transition: transform 0.2s;
        height: 300px;
        padding-bottom: 390px !important;
        
    }
    .box-servicehome:hover {
        transform: scale(1.05);
    }

    .date-pub{
        font-size: 12px;
        color: rgb(233, 22, 22);
        font-weight: bold;
    }

    .box-activite {
        padding: 10px;
        background-color: #f9f9f9;
        border: 1px solid #eee;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.453);
        border: 1px solid #ccc;
        overflow: hidden;
        transition: transform 0.2s;
        height: 300px;
        padding-bottom: 300px !important;
        
    }
    .box-activite:hover {
        transform: scale(1.05);
    }
    .card-title{
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    .card-text{
        font-size: 18px;
        text-align: justify;
    }
    .iconchiffres{
        font-size: 30px !important;
        color: rgb(255, 255, 255);
    }
    .titreiconchiffres{
        text-align: center; 
        font-weight: bold;
        font-size: 20px;
        color: rgb(255, 255, 255);
    }
    .texticonchiffres{
        text-align: center; 
        color: rgb(255, 255, 255);
        font-size: 14px;
    }
    .text1 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        position: absolute;

        
    }
        .textmenu{
        color: rgb(17, 26, 152) !important;
        text-transform: uppercase;
    }
    .imageprincipale {
        height: 30vh;
        margin-top: 2px;
        object-fit: cover;
        filter: brightness(50%);   
    }

}

@media (min-width: 351px )and (max-width: 576px) { 

       /* debut nav */
    .textmenu{
        color: rgb(17, 26, 152) !important;
        text-transform: uppercase;
    }
    /* fin nav */

    /* DEBUT SECTION 1 */

    /* debut Image principal accueil */
    .imageprincipale {
        height: 40vh;
        margin-top: 2px;
        object-fit: cover;
        filter: brightness(50%);   
    }
 

       /* Fin Image principal accueil */


   /* debut Bouton de carrousel */ 
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-size: 100% 100%;   /* Agrandit l’icône */
        width: 3rem;                 /* Largeur plus grande */
        height: 3rem;                /* Hauteur plus grande */
        background-color: rgba(0,0,0,0.5); /* Fond semi-transparent */
        border-radius: 50%;          /* Cercle autour */
    }

    .carousel-control-prev-icon:hover,
    .carousel-control-next-icon:hover {
        background-color: rgba(0,0,0,0.8); /* Plus sombre au survol */
        transform: scale(1.2);             /* Zoom léger au survol */
        transition: 0.3s;
    }

    /* Fin Bouton de carrousel */ 


    /* debut Animation  du texte d'accueil */ 
    .animated-text {
      font-size: 18px; /* Ajustez la taille du texte si nécessaire */
      font-weight: bold;
      justify-items: auto;
      animation: slideDown 1.5s ease-out; /* Animation de descente */
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-style: italic;
   }

    /* Animation du haut vers le bas */
    @keyframes slideDown {
        0% {
            transform: translateY(-100px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    /* Fin Animation  du texte d'accueil */

   .text1 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        position: absolute;

        
    }

    /* FIN SECTION 1 */

    /* DEBUT SECTION 2 */

    
    /* DEBUT SECTION4 */
    
    .box-servicehome {
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #eee;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.453);
        border: 1px solid #ccc;
        overflow: hidden;
        transition: transform 0.2s;
        padding-bottom: 50px !important;
        
    }
    .box-servicehome:hover {
        transform: scale(1.05);
    }
    .image_boxhome{
        height: 150px !important;
        object-fit: cover;
        width: 25px;
    }
    .date-pub{
        font-size: 12px;
        color: rgb(233, 22, 22);
        font-weight: bold;
    }

    .box-activite {
        padding: 10px;
        background-color: #f9f9f9;
        border: 1px solid #eee;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.453);
        border: 1px solid #ccc;
        overflow: hidden;
        transition: transform 0.2s;
        height: 300px;
        padding-bottom: 300px !important;
        
    }
    .box-activite:hover {
        transform: scale(1.05);
    }
    .card-title{
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    .card-text{
        font-size: 18px;
        text-align: justify;
    }
    .iconchiffres{
        font-size: 30px !important;
        color: rgb(255, 255, 255);
    }
    .titreiconchiffres{
        text-align: center; 
        font-weight: bold;
        font-size: 20px;
        color: rgb(255, 255, 255);
    }
    .texticonchiffres{
        text-align: center; 
        color: rgb(255, 255, 255);
        font-size: 14px;
    }
    /* DEBUT SECTION 5 */
    .boutonactivites{
        display: none;
    }

}


/* les petits écrans */
@media (min-width: 577px) and (max-width:768px){

    
       /* debut nav */
    .textmenu{
        color: rgb(17, 26, 152) !important;
        text-transform: uppercase;
    }
    /* fin nav */

    /* DEBUT SECTION 1 */

    /* debut Image principal accueil */
    .imageprincipale {
        height: 50vh;
        margin-top: 2px;
        object-fit: cover;
        filter: brightness(50%);   
    }
 
     .text1 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        position: absolute;

        
    }
       /* Fin Image principal accueil */


   /* debut Bouton de carrousel */ 
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-size: 100% 100%;   /* Agrandit l’icône */
        width: 3rem;                 /* Largeur plus grande */
        height: 3rem;                /* Hauteur plus grande */
        background-color: rgba(0,0,0,0.5); /* Fond semi-transparent */
        border-radius: 50%;          /* Cercle autour */
    }

    .carousel-control-prev-icon:hover,
    .carousel-control-next-icon:hover {
        background-color: rgba(0,0,0,0.8); /* Plus sombre au survol */
        transform: scale(1.2);             /* Zoom léger au survol */
        transition: 0.3s;
    }

    /* Fin Bouton de carrousel */ 


    /* debut Animation  du texte d'accueil */ 
    .animated-text {
      font-size: 25px; /* Ajustez la taille du texte si nécessaire */
      font-weight: bold;
      justify-items: auto;
      animation: slideDown 1.5s ease-out; /* Animation de descente */
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-style: italic;
   }

    /* Animation du haut vers le bas */
    @keyframes slideDown {
        0% {
            transform: translateY(-100px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    /* Fin Animation  du texte d'accueil */

    /* DEBUT SECTION 2 */

    
   

    /* FIN SECTION 2 */
    /* DEBUT SECTION 3 */
    .section3 {
        padding: 50px 0;
        background-color: rgba(13, 13, 87, 0.866);
        border-radius: 4%;
    }
    .imagesection3 {
        border-radius: 5%;
        
    }
    /* FIN SECTION 3 */
    /* DEBUT SECTION4 */
       .box-servicehome {
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #eee;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.453);
        border: 1px solid #ccc;
        overflow: hidden;
        transition: transform 0.2s;
        height: 300px;
        padding-bottom: 350px !important;
        
    }
    .box-servicehome:hover {
        transform: scale(1.05);
    }

    .date-pub{
        font-size: 12px;
        color: rgb(233, 22, 22);
        font-weight: bold;
    }

        .box-activite {
        padding: 10px;
        background-color: #f9f9f9;
        border: 1px solid #eee;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.453);
        border: 1px solid #ccc;
        overflow: hidden;
        transition: transform 0.2s;
        height: 300px;
        padding-bottom: 300px !important;
        
    }
    .box-activite:hover {
        transform: scale(1.05);
    }
    .card-title{
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    .card-text{
        font-size: 18px;
        text-align: justify;
    }
    .iconchiffres{
        font-size: 30px !important;
        color: rgb(255, 255, 255);
    }
    .titreiconchiffres{
        text-align: center; 
        font-weight: bold;
        font-size: 20px;
        color: rgb(255, 255, 255);
    }
    .texticonchiffres{
        text-align: center; 
        color: rgb(255, 255, 255);
        font-size: 14px;
    }
      /* DEBUT SECTION 5 */
    .boutonactivites{
        display: none;
    }

}


/* les écrans moyens */
@media (min-width: 769px) and (max-width: 992px){

/* debut nav */
    .textmenu{
        color: rgb(17, 26, 152) !important;
        text-transform: uppercase;
    }
    /* fin nav */

    /* DEBUT SECTION 1 */

    /* debut Image principal accueil */
    .imageprincipale {
        height: 60vh;
        margin-top: 2px;
        object-fit: cover;
        filter: brightness(50%);   
    }
  
       /* Fin Image principal accueil */


   /* debut Bouton de carrousel */ 
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-size: 100% 100%;   /* Agrandit l’icône */
        width: 3rem;                 /* Largeur plus grande */
        height: 3rem;                /* Hauteur plus grande */
        background-color: rgba(0,0,0,0.5); /* Fond semi-transparent */
        border-radius: 50%;          /* Cercle autour */
    }

    .carousel-control-prev-icon:hover,
    .carousel-control-next-icon:hover {
        background-color: rgba(0,0,0,0.8); /* Plus sombre au survol */
        transform: scale(1.2);             /* Zoom léger au survol */
        transition: 0.3s;
    }

    /* Fin Bouton de carrousel */ 


    /* debut Animation  du texte d'accueil */ 
    .animated-text {
      font-size: 35px; /* Ajustez la taille du texte si nécessaire */
      font-weight: bold;
      justify-items: auto;
      animation: slideDown 1.5s ease-out; /* Animation de descente */
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-style: italic;
   }

    /* Animation du haut vers le bas */
    @keyframes slideDown {
        0% {
            transform: translateY(-100px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    /* Fin Animation  du texte d'accueil */

   .text1 {
     position: absolute;
     top: 55%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
     color: white;
     z-index: 2; /* Au-dessus de la superposition */
    }

    /* FIN SECTION 1 */

    /* DEBUT SECTION4 */
        .box-servicehome {
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #eee;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.453);
        border: 1px solid #ccc;
        overflow: hidden;
        transition: transform 0.2s;
        height: 300px;
        padding-bottom: 350px !important;
        
    }
    .box-servicehome:hover {
        transform: scale(1.05);
    }

    .date-pub{
        font-size: 12px;
        color: rgb(233, 22, 22);
        font-weight: bold;
    }
        .box-activite {
        padding: 10px;
        background-color: #f9f9f9;
        border: 1px solid #eee;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.453);
        border: 1px solid #ccc;
        overflow: hidden;
        transition: transform 0.2s;
        height: 300px;
        padding-bottom: 300px !important;
        
    }
    .box-activite:hover {
        transform: scale(1.05);
    }
    .card-title{
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    .card-text{
        font-size: 18px;
        text-align: justify;
    }
    .iconchiffres{
        font-size: 30px !important;
        color: rgb(255, 255, 255);
    }
    .titreiconchiffres{
        text-align: center; 
        font-weight: bold;
        font-size: 20px;
        color: rgb(255, 255, 255);
    }
    .texticonchiffres{
        text-align: center; 
        color: rgb(255, 255, 255);
        font-size: 14px;
    }

}



/* les écrans larges*/
@media (min-width: 993px) and (max-width:1200px) { 

   /* debut nav */
    .textmenu{
        color: rgb(17, 26, 152) !important;
        text-transform: uppercase;
    }
    /* fin nav */

    /* DEBUT SECTION 1 */

    /* debut Image principal accueil */
    .imageprincipale {
        height: 70vh;
        margin-top: 2px;
        object-fit: cover;
        filter: brightness(50%);   
    }
   

       /* Fin Image principal accueil */


   /* debut Bouton de carrousel */ 
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-size: 100% 100%;   /* Agrandit l’icône */
        width: 3rem;                 /* Largeur plus grande */
        height: 3rem;                /* Hauteur plus grande */
        background-color: rgba(0,0,0,0.5); /* Fond semi-transparent */
        border-radius: 50%;          /* Cercle autour */
    }

    .carousel-control-prev-icon:hover,
    .carousel-control-next-icon:hover {
        background-color: rgba(0,0,0,0.8); /* Plus sombre au survol */
        transform: scale(1.2);             /* Zoom léger au survol */
        transition: 0.3s;
    }

    /* Fin Bouton de carrousel */ 


    /* debut Animation  du texte d'accueil */ 
    .animated-text {
      font-size: 35px; /* Ajustez la taille du texte si nécessaire */
      font-weight: bold;
      margin-bottom: 15px;
      animation: slideDown 1.5s ease-out; /* Animation de descente */
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-style: italic;
   }

    /* Animation du haut vers le bas */
    @keyframes slideDown {
        0% {
            transform: translateY(-100px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    /* Fin Animation  du texte d'accueil */

    .text1 {
     position: absolute;
     top: 55%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
     color: white;
     z-index: 2; /* Au-dessus de la superposition */
    }

    /* FIN SECTION 1 */

    /* DEBUT SECTION 2 */

  
    
    /* FIN SECTION 3 */
    
    /* DEBUT SECTION4 */
    .box-servicehome {
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #eee;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.453);
        border: 1px solid #ccc;
        overflow: hidden;
        transition: transform 0.2s;
        height: auto;
        padding-bottom: 3px !important;
        
    }
    .box-servicehome:hover {
        transform: scale(1.05);
    }

    .date-pub{
        font-size: 12px;
        color: rgb(233, 22, 22);
        font-weight: bold;
    }

        .box-activite {
        padding: 10px;
        background-color: #f9f9f9;
        border: 1px solid #eee;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.453);
        border: 1px solid #ccc;
        overflow: hidden;
        transition: transform 0.2s;
        height: 300px;
        padding-bottom: 300px !important;
        
    }
    .box-activite:hover {
        transform: scale(1.05);
    }
    .card-title{
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    .card-text{
        font-size: 18px;
        text-align: justify;
    }
      /* NOS CHIFFRES */
     .iconchiffres{
        font-size: 30px !important;
        color: rgb(255, 255, 255);
    }
    .titreiconchiffres{
        text-align: center; 
        font-weight: bold;
        font-size: 20px;
        color: rgb(255, 255, 255);
    }
    .texticonchiffres{
        text-align: center; 
        color: rgb(255, 255, 255);
        font-size: 14px;
    }

    /* Loader Fullscreen */
#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff; /* couleur de fond */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* au-dessus de tout */
}

/* Animation spinner */
.spinner {
    border: 8px solid #f3f3f3; /* cercle gris clair */
    border-top: 8px solid #ff7402; /* couleur de ta marque */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}


}


/* les écrans très larges */
@media (min-width: 1200px) and (max-width:1400px) { 

    /* debut nav */
    .textmenu{
        color: rgb(17, 26, 152) !important;
        text-transform: uppercase;
    }
    /* fin nav */

    /* DEBUT SECTION 1 */

    /* debut Image principal accueil */
    .imageprincipale {
        height: 80vh;
        margin-top: 4px;
        object-fit: cover;
        filter: brightness(50%);   
    }

       /* Fin Image principal accueil */


   /* debut Bouton de carrousel */ 
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-size: 100% 100%;   /* Agrandit l’icône */
        width: 3rem;                 /* Largeur plus grande */
        height: 3rem;                /* Hauteur plus grande */
        background-color: rgba(0,0,0,0.5); /* Fond semi-transparent */
        border-radius: 50%;          /* Cercle autour */
    }

    .carousel-control-prev-icon:hover,
    .carousel-control-next-icon:hover {
        background-color: rgba(0,0,0,0.8); /* Plus sombre au survol */
        transform: scale(1.2);             /* Zoom léger au survol */
        transition: 0.3s;
    }

    /* Fin Bouton de carrousel */ 


    /* debut Animation  du texte d'accueil */ 
    .animated-text {
      font-size: 35px; /* Ajustez la taille du texte si nécessaire */
      font-weight: bold;
      margin-bottom: 15px;
      animation: slideDown 1.5s ease-out; /* Animation de descente */
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-style: italic;
   }

    /* Animation du haut vers le bas */
    @keyframes slideDown {
        0% {
            transform: translateY(-100px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    /* Fin Animation  du texte d'accueil */

    .text1 {
     position: absolute;
     top: 55%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
     color: white;
     z-index: 2; /* Au-dessus de la superposition */
    }

    /* FIN SECTION 1 */

    /* DEBUT SECTION4 */
        .box-servicehome {
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #eee;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.453);
        border: 1px solid #ccc;
        overflow: hidden;
        transition: transform 0.2s;
        height: 300px;
        padding-bottom: 350px !important;
        
    }
    .box-servicehome:hover {
        transform: scale(1.05);
    }

    .date-pub{
        font-size: 12px;
        color: rgb(233, 22, 22);
        font-weight: bold;
    }
        .box-activite {
        padding: 20px;
        margin-top: 50px;
        background-color: #f9f9f9;
        border: 1px solid #eee;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.453);
        border: 1px solid #ccc;
        overflow: hidden;
        transition: transform 0.2s;
        height: 300px;
        padding-bottom: 380px !important;

    }
    .box-activite:hover {
        transform: scale(1.05);
    }
    .card-title{
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    .card-text{
        font-size: 18px;
        text-align: justify;
    }
    .iconchiffres{
        font-size: 50px !important;
        color: rgb(255, 255, 255);
    }
    .titreiconchiffres{
        text-align: center; 
        font-weight: bold;
        font-size: 20px;
        color: rgb(255, 255, 255);
    }
    .texticonchiffres{
        text-align: center; 
        color: rgb(255, 255, 255);
        font-size: 14px;
    }
    
    

}



 /* les écrans très larges */
@media (min-width: 1400px)  { 
    /* debut nav */
    .textmenu{
        color: rgb(17, 26, 152) !important;
        text-transform: uppercase;
    }
    /* fin nav */

    /* DEBUT SECTION 1 */

    /* debut Image principal accueil */
    .imageprincipale {
        height: 90vh;
        margin-top: 2px;
        object-fit: cover;
        filter: brightness(50%);   
    }
  
       /* Fin Image principal accueil */


   /* debut Bouton de carrousel */ 
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-size: 100% 100%;   /* Agrandit l’icône */
        width: 3rem;                 /* Largeur plus grande */
        height: 3rem;                /* Hauteur plus grande */
        background-color: rgba(0,0,0,0.5); /* Fond semi-transparent */
        border-radius: 50%;          /* Cercle autour */
    }

    .carousel-control-prev-icon:hover,
    .carousel-control-next-icon:hover {
        background-color: rgba(0,0,0,0.8); /* Plus sombre au survol */
        transform: scale(1.2);             /* Zoom léger au survol */
        transition: 0.3s;
    }

    /* Fin Bouton de carrousel */ 


    /* debut Animation  du texte d'accueil */ 
    .animated-text {
      font-size: 55px; /* Ajustez la taille du texte si nécessaire */
      font-weight: bold;
      margin-bottom: 15px;
      animation: slideDown 1.5s ease-out; /* Animation de descente */
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-style: italic;
   }

    /* Animation du haut vers le bas */
    @keyframes slideDown {
        0% {
            transform: translateY(-100px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    /* Fin Animation  du texte d'accueil */

    .text1 {
     position: absolute;
     top: 55%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
     color: white;
     z-index: 2; /* Au-dessus de la superposition */
    }

    /* FIN SECTION 1 */

    /* DEBUT SECTION4 */
        .box-servicehome {
        padding: 20px;
        margin-top: auto;
        background-color: #f9f9f9;
        border: 1px solid #eee;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.453);
        border: 1px solid #ccc;
        overflow: hidden;
        transition: transform 0.2s;
        height: 300px;
        padding-bottom: 420px !important;
        
    }
    .box-servicehome:hover {
        transform: scale(1.05);
    }

    .date-pub{
        font-size: 12px;
        color: rgb(233, 22, 22);
        font-weight: bold;
    }

    .box-activite {
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #eee;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.453);
        border: 1px solid #ccc;
        overflow: hidden;
        transition: transform 0.2s;
        height: 300px;
        padding-bottom: 350px !important;
        
    }
    .box-activite:hover {
        transform: scale(1.05);
    }

    .iconchiffres{
        font-size: 60px !important;
        color: rgb(255, 255, 255);
    }
    .titreiconchiffres{
        text-align: center; 
        font-weight: bold;
        font-size: 25px;
        color: rgb(255, 255, 255);
    }
    .texticonchiffres{
        text-align: center; 
        color: rgb(255, 255, 255);
        font-size: 18px;
    }
   


}



/* footer */
/* Styliser les icônes */
.icon-foot i {
    font-style: normal; /* Supprime l'italique par défaut */
    color: rgb(213, 134, 15); /* Ajuste la couleur (blanc dans ce cas) */
    margin-right: 8px; /* Ajoute un espace entre l'icône et le texte */
}

/* Aligner le texte et les icônes */
.icon-foot li {
    text-decoration: none; /* Supprime tout soulignement */
    display: flex; /* Met les icônes et le texte sur la même ligne */
    align-items: center; /* Centre verticalement l'icône et le texte */
    margin-bottom: 10px; /* Espacement entre les lignes */
    color: white; /* Couleur blanche pour le texte */
    font-size: 16px; /* Taille du texte */
}

.titrefoot h1{
    text-align: center;
}

.fa-envelope{
    font-size: 25px;
    margin-top: -5px;
}
.fa-location-dot{
    font-size: 25px;
}
.fa-phone{
    font-size: 25px;
}

#back-to-top {
    position: fixed;
    bottom: 20px; /* Distance par rapport au bas de la fenêtre */
    right: 20px; /* Distance par rapport au côté droit */
    display: none; /* Caché par défaut */
    z-index: 1000;
    background-color: #007bff; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s, background-color 0.3s;
  }
  
  #back-to-top:hover {
    background-color: #0056b3;
  }

  a.foot{
    text-decoration: none;
    font-size: 16px !important;
    font-weight: bold !important;
    color: rgb(0, 0, 0) !important;
   
   
}
   /* fin bout de revoie auto direction */


